<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Is it Crypto?</title>
    </head>
    <body>
        <ul>
            <% cryptoData.forEach(function(crypto) { %>
                <li><%= crypto.code %> - <%= crypto.name %>:
                    <% if (crypto.is_crypto) { %>
                         <p>Yes, Crypto</p>
                    <% } else { %>
                         <p>Not Crypto</p>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </body>
</html>